// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2026, Rakan Badawood <rakzn>
 */

/dts-v1/;

#include "sm7225.dtsi"
#include "pm6150.dtsi"
#include "pm6150l.dtsi"

/ {
	model = "Samsung Galaxy Tab S7 FE";
	compatible = "samsung,t735", "qcom,sm7225";

	aliases {
		serial0 = &uart9;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&uart9 {
	status = "okay";
};

/* * NEXT STEPS:
 * 1. Define regulators (power)
 * 2. Add the FT8203 display panel node
 * 3. Configure touch and keys
 */
