// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2026, Rakan Badawood <rakzn>
 */

/dts-v1/;

#include "sm7225.dtsi"
#include "pm6150.dtsi"
#include "pm6150l.dtsi"

/ {
	model = "Samsung Galaxy Tab S7 FE";
	compatible = "samsung,t735", "qcom,sm7225";

	aliases {
		serial0 = &uart9;
	};

	chosen {
		stdout-path = "serial0:115200n8";

		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		framebuffer0: framebuffer@a0000000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0xa0000000 0x0 0x2300000>;
			width = <2560>;
			height = <1600>;
			stride = <10240>;
			format = "x8r8g8b8";
		};
	};
};

&uart9 {
	status = "okay";
};

/* * NEXT STEPS:
 * 1. Define regulators (power)
 * 2. Add the FT8203 display panel node
 * 3. Configure touch and keys
 */
&dsi0 {
	vddio-supply = <&vreg_l11a_1p8>;
	vdd-supply = <&vreg_l10a_3p0>;
};

&vreg_l11a_1p8 {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};

&vreg_l10a_3p0 {
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
};
